body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

header {
    background: #333;
    color: white;
    padding: 20px;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
}

section {
    margin: 20px;
    padding: 20px;
    background: white;
}

button {
    padding: 10px;
    background: blue;
    color: white;
    border: none;
}

input,
textarea {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 250px;
}